 <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>pChat <%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="/css/dropzone.css" rel="stylesheet">

    <% if (locals.session) { %>
    <script>
        var userid = '<%= locals.session.userId %>';
        var openChats = <%- JSON.stringify(openChats) %>;
    </script>
    <% } %>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <% if (locals.username) { %>
                        <%= username %>'s pChat
                    <% } else { %>
                        SlideWave pChat
                    <% } %></a>
            </div>
            <!-- /.navbar-header -->

            <% if (locals.username) { %>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/"><i class="fa fa-home fa-fw"></i> Home</a>
                        </li>
                        <li>
                            <a href="/profile"><i class="fa fa-user fa-fw"></i> Profile</a>
                        </li>
                        <li class="nav-divider"></li>
                        <li>
                            <a href="/chat/im/new"><i class="fa fa-envelope fa-fw"></i> Send new IM</a>
                        </li>
                        <li>
                            <a href="/chat/room/join"><i class="fa fa-comment fa-fw"></i> Join Chat Room</a>
                        </li>
                        <li class="nav-divider"></li>
                        <% for (var i=0, len=openChats.length; i < len; i++) {
                                var chat = openChats[i];

                                var cls;
                                if (chat.type == OpenChat.IM) {
                                    cls = "fa fa-envelope-o fa-fw";
                                } else {
                                    cls = "fa fa-group fa-fw";
                                }
                        %>
                        <li>
                            <a href="/chat/<%= chat.conversationId%>"><i class="<%=cls%>"></i> <%= chat.title %></a>
                        </li>
                        <% } %>
                        <li class="nav-divider"></li>
                        <li>
                            <a href="/login/out"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
            <% } %>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header"><%= title %></h2>
                </div>
                <!-- /.col-lg-12 -->
                <% if (locals.error) { %>
                    <div class="col-lg-12">
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <%= error %>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                <% } %>
            </div>
